@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<h1>Library Management System</h1>
<div class="booking-form-w3layouts">
    <!-- Form starts here -->
    <form action="verify" method="post">
        <h2 class="sub-heading-agileits">We Will Contact you Soon</h2>
        <div class="main-flex-w3ls-sectns">
            <a href='@Url.Action("Login","Login")' class="btn btn-primary">Back to Login</a>
        </div>

        <div class="clear"></div>

    </form>
    <!--// Form starts here -->
</div>