@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Admin Zonal</h2>

<a href='@Url.Action("ViewBook","Book")' class="btn btn-danger">Add Book</a>
<a href='@Url.Action("ViewMember","Member")' class="btn btn-danger">Add Member</a>
<br/>

<a href='@Url.Action("Login","Login")' class="btn btn-danger">Back to Login Page</a>


