
@{
    ViewBag.Title = "Login";
}


<style>
    tr, td {
        border: 0px solid red;
        height: 30px;
        width: 500px;
        font-size: 30px;
        color: black;
        padding: 10px;
    }
</style>


<section class="ab-info-main py-md-5 py-4">
    <div class="container py-md-6 py-6">
        <h3 class="tittle text-center mb-lg-5 mb-3"><span class="sub-tittle"></span>Admin Login </h3>
        <div class="row contact-main-info">
            <div class="col-md-12 contact-right">
                <form action="Validate" method="post">
                    <table>
                        <tr>
                            <td>Enter User Name</td>
                            <td>
                                <input id="AdminUserName" name="SName" type="text" class="email" placeholder="Email" required="" />
                            </td>
                        </tr>
                        <tr>
                            <td>Enter Password</td>
                            <td>
                                <input id="AdminPassword" name="SPassword" class="email" type="text" placeholder="Password" required="" />
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <div class="read mt-3">
                                    <input id="submit" name="submit" type="submit" value="SignIn" class="btn btn-primary" />
                                </div>
                            </td>

                        </tr>
                    </table>
            </div>
            </form>
        </div>

    </div>


    </div>
</section>


