@{
    ViewBag.Title = "About";
}




<h2>Wel Come  Our Library </h2>
<hr />
<h3>Mission Identity and Values </h3>
<p>
    Great leadership starts with self-knowledge. As a Newzeland Library, we’re guided by our clear mission, strong sense of identity and firm set of values. All three influence the decisions we make as an institute of higher education, and guide our staff and students in their day-to-day lives.

    We know who we are. That’s how we can help you understand yourself and the world around you.

</p>
<hr />
<h3>Our Mission Statement </h3>
<p>
    Within the Catholic intellectual tradition and acting in Truth and Love, Newzeland  Library is committed to the pursuit of knowledge, the dignity of the human person and the common good.
    Our mission is at the heart of everything we do at NL. It guides our approach to learning and teaching, our welcoming and engaging on-campus culture, and our commitment to building a better society by producing graduates willing to invest in this same commitment.

</p>

<hr />
<h3>Guiding Tradition </h3>
<p>
    It’s important to honour traditions, particularly those that inspire us to be better people and lead better lives. That’s why we have a patron saint for the University and each faculty and campus. Our patron saints provide examples of acting in truth and love and what life in service to the pursuit of knowledge, dignity of the human person and the common good looks like.
</p>