@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        <h2>Services</h2>
        <img src="~/images/icon1.jpg" class="img-circle"/ >
        <p>
            Room bookings default to 30 minute blocks.
            Pick a time then use the drop down menu to book a longer period

        </p>
        <p>
            <a class="btn btn-default" href="About.aspx">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">

        <h2>Register Member</h2>
        <img src="~/images/icon2.jpg" class="img-circle"/ >
        <p>
            Information about the Library membership options and entitlements. Staff and students have full access to Leeds University Library and just need their University ID card.
        </p>
        <p>
            <a class="btn btn-default" href="About.aspx">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Opening Hour</h2>
        <img src="~/images/icon3.jpg" class="img-circle"/ >
        <p>
            From April 2019 until Autumn 2019 Library services operate over two buildings: most study space and services are located in the URS Building; printed materials are still available in the adjacent Library Building, plus some study space.
        </p>
        <p>
            <a class="btn btn-default" href="About.aspx">Learn more &raquo;</a>
        </p>
    </div>




</div>
